$color: #525353;
$white: #fff;

$gradiant1: #96d1cd;
$gradiant2: #97cdad;
$gradiant3: #ffe689;
$gradiant4: #f2885e;
$gradiant5: #e76873;

@mixin full-gradiant($where) {
  background-image: linear-gradient(to $where, $gradiant1, $gradiant2, $gradiant3, $gradiant4, $gradiant5);
}
